<!--home.html-->
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}

<div class="main">
          <h1 class="page-header">设备管理-借用申请</h1>
{#{% if not user.is_authenticated %}#}
{#    <script language="javascript">#}
{#        document.location = "/../accounts/login/";#}
{#    alert("请先登录");#}
{#    </script>#}
{#{% endif %}#}
          <div class="row placeholders">

            <a href="/device-manage/add-repair" > <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src="{% static "repair.png" %}" >
              <h3>提交设备维修</h3>
              <span class="text-muted">提交维修申请</span>
            </div></a>
            <a href="/device-manage/add-lend" ><div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="{% static "lend.png" %}">
              <h3>提交设备借用</h3>
              <span class="text-muted">提交借用申请</span>
            </div> </a>
            <a href="/device-manage/add-discard" ><div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="{% static "discard.png" %}">
            <h3>提交设备报废</h3>
              <span class="text-muted">提交报废申请</span>
            </div></a>
            <a href="/device-manage/state-manage" ><div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="{% static "manage.png" %}">
            <h3>管理设备状态变更</h3>
              <span class="text-muted">处理各类申请</span>
            </div></a>
</div>

          <h1 class="page-header">添加借用申请</h1>
          <div class="container center-block">
            {% if error %}
                <div class="alert alert-danger" role="alert">添加失败,错误信息 :  {{ error_info }} </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success" role="alert">成功添加</div>
            {% endif %}
            <form class="form-signin" role="form" method = 'post' enctype="multipart/form-data">
                {% csrf_token %}
                {{uf.as_p}}
                <button class="btn btn-primary " type="submit" style="width: 20%">提交</button>
            </form>
            <br>
          <h1 class="page-header">正常设备列表</h1>
          <div class="table-responsive">
            {% render_table devices %}
            </div><!-- /.blog-post -->

</div>
        </div>
{% endblock %}
