<!--home.html-->
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}

<div class="main">
          <h1 class="page-header">设备管理-维修申请</h1>

          <div class="row placeholders">

            <a href="/device-manage/add-device" > <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200" src="{% static "repair.png" %}" >
              <h3>添加新设备</h3>
              <span class="text-muted">添加新设备</span>
            </div></a>
            <a href="/.." ><div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="{% static "lend.png" %}">
              <h3>提交设备借用</h3>
              <span class="text-muted">提交借用申请</span>
            </div> </a>
            <a href="/.." ><div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="{% static "discard.png" %}">
            <h3>提交设备报废</h3>
              <span class="text-muted">提交报废申请</span>
            </div></a>
            <a href="/.." ><div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="{% static "manage.png" %}">
            <h3>管理设备状态变更</h3>
              <span class="text-muted">处理各类申请</span>
            </div></a>
</div>

          <h1 class="page-header">添加维修申请</h1>
          <div class="container center-block">
            {% if error %}
                <div class="alert alert-danger" role="alert">添加失败,错误信息 :  {{ error_info }} </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success" role="alert">成功添加设备</div>
            {% endif %}
            <form class="form-signin" role="form" method = 'post' enctype="multipart/form-data">
                {% csrf_token %}
                {{uf.as_p}}
                <button class="btn btn-primary " type="submit" style="width: 20%">提交</button>
            </form>
            <br>

</div>
        </div>
{% endblock %}
