<!--home.html-->
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}

<div class="main">
  <h1 class="page-header">处理借用申请</h1>
{% if not user.is_superuser %}
    <script language="javascript">
        document.location = "/../device-manage/add-device";
        alert("权限不足,请登录管理员账号");
    </script>

{% endif %}
    {% for lend_request in lend_request_list %}
        <section class="bs-callout bs-callout-info">
{#            <header class="post-header">#}
                <h3 ><a href="">DeviceID : {{ lend_request.deviceId }}</a></h3>
                <h3 ><a href="">LendID : {{ lend_request.lendId }}</a></h3>
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ lend_request.date |date:"Y /m /d H:i:s"}}</a> <a class="post-category post-category-js" href="#">User Name : {{ lend_request.user }}</a>
                    </p>
{#            </header>#}

                <div class="post-description">
                    <p>
                        Note:{{ lend_request.note }}
                    </p>
                </div>
                <a name="agree1" onclick="confirm_agreee()"    class="btn btn-success" href="{% url "lend_manage" table="lend" id=lend_request.lendId flag="agree" %}">同意</a>
                <a name="agree1" onclick="confirm_disagreee()" class="btn btn-danger" href="{% url "lend_manage" table="lend" id=lend_request.lendId flag="disagree" %}">拒绝</a>
        </section>
    {% endfor %}
<h3 class="page-header">设备归还</h3>
    {% for return_request in return_request_list %}
        <section class="bs-callout bs-callout-info">
{#            <header class="post-header">#}
                <h3 ><a href="">DeviceID : {{ return_request.deviceId }}</a></h3>
                <h3 ><a href="">LendID : {{ return_request.lendId }}</a></h3>
                    <p class="post-meta">
                        借出时间:  <a class="post-author" href="#">{{ return_request.date |date:"Y /m /d H:i:s"}}</a> <a class="post-category post-category-js" href="#">User Name : {{ return_request.user }}</a>
                    </p>
{#            </header>#}

                <div class="post-description">
                    <p>
                        Note:{{ return_request.note }}
                    </p>
                </div>
                <a name="agree1" onclick="confirm_agreee()"    class="btn btn-success" href="{% url "lend_manage" table="return" id=return_request.lendId flag="agree" %}">归还</a>
        </section>
    {% endfor %}
    <h1 class="page-header">处理维修申请</h1>
    {% for request in repair_request_list %}
        <section class="bs-callout bs-callout-warning">
{#            <header class="post-header">#}
                <h3 ><a href="">DeviceID : {{ request.deviceId }}</a></h3>
                <h3 ><a href="">RepairId : {{ request.repairId }}</a></h3>
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ request.date |date:"Y /m /d H:i:s"}}</a> <a class="post-category post-category-js" href="#">User Name : {{ request.user }}</a>
                    </p>
{#            </header>#}

                <div class="post-description">
                    <p>
                        Note:{{ request.note }}
                    </p>
                </div>
                <a name="agree2" onclick="confirm_agreee()" class="btn btn-success" href="{% url "lend_manage" table="repair" id=request.repairId flag="agree" %}">同意</a>
                <a name="disagree2" onclick="confirm_disagreee()"  class="btn btn-danger" href="{% url "lend_manage" table="repair" id=request.repairId flag="disagree" %}">拒绝</a>
        </section>
    {% endfor %}
<h1 class="page-header">处理报废申请</h1>
    {% for request in discard_request_list %}
        <div class="bs-callout bs-callout-danger" >
{#            <header class="post-header">#}
                <h3 ><a href="">DeviceID : {{ request.deviceId }}</a></h3>
                <h3 ><a href="">DiscardId : {{ request.DiscardId }}</a></h3>
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ request.date |date:"Y /m /d H:i:s"}}</a> <a class="post-category post-category-js" href="#">User Name : {{ request.user }}</a>
                    </p>
{#            </header>#}

                <div class="post-description">
                    <p>
                        Note:{{ request.note }}
                    </p>
                </div>
                <a name="agree3" onclick="confirm_agreee()"  class="btn btn-success" href="{% url "lend_manage" table="discard" id=request.discardId flag="agree" %}">同意</a>
                <a name="disagree3" onclick="confirm_disagreee()"  class="btn btn-danger" href="{% url "lend_manage" table="discard" id=request.discardId flag="disagree" %}">拒绝</a>
        </div>
    {% endfor %}


</div>
<script>
    function confirm_agreee() {
         alert("确认成功");
    }
    function confirm_disagreee() {
         alert("驳回成功");
    }
</script>
{% endblock %}
