<!--base.html-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    {% load static %}
    <title>Yanring 设备管理</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="http://picturebag.qiniudn.com/blog.css">
    <link rel="stylesheet" href="http://v3.bootcss.com/assets/css/docs.min.css">
{#    <link rel="stylesheet" href="../media/marketing.css">#}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css'%}" />
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<div id="layout" class="pure-g">
{#{% if not user.is_authenticated %}#}
{#    <script language="javascript">#}
{#        document.location = "/../accounts/login/";#}
{#    </script>#}
{#{% endif %}#}
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"><a href="{% url "home" %}">Yanring Device Management Sytem</a></h1>
            <h2 class="brand-tagline">设备管理系统</h2>
            <br>
{#            <a class="btn btn-info" href="{% url 'users_login' %}">Log in</a>#}
{#            <a class="btn btn-success btn" href="{% url 'users_register' %}">Register</a>#}
            <div class="form-group">
              {% comment %} Login and Register {% endcomment %}
              {% if user.is_authenticated %}
                <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">菜单<span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'users_password_change' %}">修改密码</a></li>
                  <li><a href="{% url 'users_logout' %}">登出</a></li>
                </ul>
                {% if user.is_superuser %}<a class="btn btn-success" href="/admin/">管理员控制台</a>{% endif %}
                </div>
              {% else %} <!-- Profile -->
                <a class="btn btn-success btn" href="{% url 'users_register' %}?next={% url 'users_login' %}">注册</a>
                <a class="btn btn-info" href="{% url 'users_login' %}">登录</a>
              {% endif %}
              </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">主页</a>
                    </li>

                    <li class="nav-item">
                        <a class="button-success pure-button" href="/device-query/all-device">设备查询</a>
                        <a class="button-success pure-button" href="/device-manage/add-device">设备管理</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="https://github.com/yanring">About Me</a></li>
                        <li><a href="https://github.com/yanring">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
